<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="hdcms">
			<input type="text" name="" id="" value="" v-model="n1" />+
			<input type="text" name="" id="" value="" v-model="n2" />=
			<input type="text" name="" id="" value="" v-model="sum" />
			{{sum}}
		</div>
		
		<script type="text/javascript">
			var app=new Vue({
				el:"#hdcms",
				data:{
					n1:1,
					n2:1,
				},
				computed:{
					sum:function(){
						return Number(this.n1)+Number(this.n2);
					}
				}
			})
		</script>
	</body>
</html>
